body {
    background-color: black;
}
.header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    display: flex;
}
.virpis {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
  
  
}
.first{
border-color: 10px solid white;

}
.second{
border-color: 1px solid white;
}


.third{
border-color: 1px  solid white;
}

.fourth{
border-color: 1px solid white;
}
.fifth{
border-color: 1px solid white;
}
.sex {
    border-color: 1px solid white;
}
.seven {
    border-color: 1px solid white;
}